.selected{
  background-color: grey!important;
  color: white;
  border: 1px solid green;
}

.students{
  margin: 4px;
  list-style-type: none;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
}

.students li{
  cursor: pointer;;
  background-color: teal;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
}

.students li:hover{
  background-color: aqua;
  border-bottom: 1px solid silver;
}
